server:
  port: 10000

spring:
  devtools:
    restart:
      enabled: true
  mvc:
    static-path-pattern: /**
    view:
      prefix: /html/
      suffix: .html
  resources:
    static-locations: file:C:/Users/va663/Desktop/box/,file:C:/Users/va663/Desktop/box/html/

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://149.28.9.41:3306/test
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driud:
      initial-size: 5
      min-idle: 5
      max-wait: 60000
      web-stat-filter.enabled: true
      web-stat-filter.url-pattern: /*
      stat-view-servlet.enabled: true
      stat-view-servlet.url-pattern: /druid/*
mybatis:
  type-aliases-package: cc.owo.box.entity  # 注意：对应实体类的路径


